:root{
    --color-primario: #0a0f2c;
    --color-secundario: #111827;
    --color-dorado: #d4af37;
    --color-blanco: #ffffff;
    --color-gris: #94a3b8;

    --fuente-principal: "Barlow", sans-serif;
    --fuente-titulo: "Bebas Neue", sans-serif;

    --sombra: 0 8px 20px rgba(0,0,0,.3);
    --transicion: all .3s ease;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fuente-principal);
    background: var(--color-primario);
    color: var(--color-blanco);
    line-height: 1.7;
    overflow-x: hidden;
}



.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(10,15,44,.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.header-border{
    width: 100%;
    height: 3px;
    background: var(--color-dorado);
}

.navbar-container{
    max-width: 1200px;
    margin: auto;
    padding: 18px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 70px;
    transition: var(--transicion);
}

.logo img:hover{
    transform: scale(1.1);
}



.navbar{
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: var(--color-blanco);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    transition: var(--transicion);
}

.navbar a:hover{
    color: var(--color-dorado);
}



#theme-toggle{
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: var(--color-dorado);
    color: #111827;

    font-size: 1.2rem;
    cursor: pointer;

    transition: var(--transicion);
}

#theme-toggle:hover{
    transform: scale(1.1);
}


.contact-banner{
    min-height: 60vh;

    background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.7)),
    url("https://estaticos-cdn.prensaiberica.es/clip/88b10ce9-a9b8-4393-8afb-544439c0bafe_16-9-aspect-ratio_default_0_x600y225.jpg");

    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 140px 5% 80px;
}

.banner-content h1{
    font-size: 5rem;
    font-family: var(--fuente-titulo);
    color: var(--color-dorado);
    margin-bottom: 15px;
}

.banner-content p{
    color: var(--color-gris);
}
h2{
    text-align: center;
    padding-bottom: 20px;
}



.contact{
    padding: 100px 5%;
}

.contact-container{
    max-width: 700px;
    margin: auto;
}

.contact-form{
    background: var(--color-secundario);
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--sombra);
}



.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.input-group label{
    margin-bottom: 10px;
    font-weight: 600;
}

.input-group input,
.input-group textarea{
    width: 100%;

    padding: 15px;

    border: none;
    outline: none;

    border-radius: 10px;

    background: #1e293b;
    color: var(--color-blanco);

    font-size: 1rem;
    font-family: var(--fuente-principal);
}

.input-group textarea{
    resize: none;
    min-height: 150px;
}

.input-group input::placeholder,
.input-group textarea::placeholder{
    color: var(--color-gris);
}

.input-group input:focus,
.input-group textarea:focus{
    border: 2px solid var(--color-dorado);
}



.btn{
    width: 100%;

    padding: 15px;

    border: none;
    border-radius: 10px;

    background: var(--color-dorado);
    color: var(--color-primario);

    font-size: 1rem;
    font-weight: 700;

    cursor: pointer;

    transition: var(--transicion);
}

.btn:hover{
    transform: translateY(-5px);
    box-shadow: var(--sombra);
}



.footer{
    background: #050816;
    padding: 30px 5%;
    text-align: center;
    border-top: 2px solid var(--color-dorado);
}

.footer p{
    color: var(--color-gris);
}


/*modo oscuro*/

body.light-mode{
    background: #f3f4f6;
    color: #111827;
}


body.light-mode .header{
    background: rgba(255,255,255,.95);
}



body.light-mode .navbar a{
    color: #111827;
}


body.light-mode .contact-banner{
    background:
    linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.4)),
    url("https://estaticos-cdn.prensaiberica.es/clip/88b10ce9-a9b8-4393-8afb-544439c0bafe_16-9-aspect-ratio_default_0_x600y225.jpg");

    background-position: center;
    background-size: cover;
}


body.light-mode .banner-content h1{
    color: #111827;
}


body.light-mode .banner-content p{
    color: #374151;
}



body.light-mode .contact-form{
    background: white;
    color: #111827;
}


body.light-mode .input-group input,
body.light-mode .input-group textarea{
    background: #e5e7eb;
    color: #111827;
}


body.light-mode .input-group input::placeholder,
body.light-mode .input-group textarea::placeholder{
    color: #6b7280;
}



body.light-mode .footer{
    background: #dfe3ea;
}


body.light-mode #theme-toggle{
    background: #111827;
    color: white;
}

@media(max-width: 992px){

    .banner-content h1{
        font-size: 4rem;
    }

    .contact-container{
        max-width: 90%;
    }

}


@media(max-width:768px){

    .header{
        padding-bottom: 15px;
    }

    .navbar-container{
        flex-direction: column;
        gap: 15px;
        padding: 15px 20px;
    }

    /* LOGO MÁS PEQUEÑO */
    .logo img{
        width: 45px;
    }

    .navbar{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .navbar ul{
        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;
    }

    .navbar a{
        font-size: .95rem;
    }

    .contact-banner{
        min-height: 100vh;
        padding: 220px 20px 80px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-content{
        width: 100%;
        max-width: 700px;
        margin: auto;
    }

    .banner-content h1{
        font-size: 3rem;
        line-height: 1;
    }

    .banner-content p{
        font-size: 1rem;
        padding: 0 10px;
    }

    .contact{
        padding: 80px 20px;
    }

    h2{
        font-size: 2rem;
    }

    .contact-container{
        width: 100%;
    }

    .contact-form{
        padding: 25px 20px;
        border-radius: 15px;
    }

    .input-group label{
        font-size: .95rem;
    }

    .input-group input,
    .input-group textarea{
        padding: 14px;
        font-size: .95rem;
    }

    .btn{
        padding: 14px;
        font-size: 1rem;
    }

    #theme-toggle{
        width: 45px;
        height: 45px;
        font-size: 1rem;
    }

}


@media(max-width:480px){

    .contact-banner{
        padding-top: 320px;
    }

    .logo img{
        width: 38px;
    }

    .banner-content h1{
        font-size: 2.3rem;
    }

    .banner-content p{
        font-size: .95rem;
    }

    .navbar ul{
        gap: 10px;
    }

    .navbar a span{
        display: none;
    }

    .navbar a i{
        font-size: 1.3rem;
    }

    .contact-form{
        padding: 20px 15px;
    }

    .footer p{
        font-size: .9rem;
    }

}